body, html {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #414141, #2a2a2a);
  overflow: hidden;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  animation: hover 10s ease-in-out infinite;
}

.subtitle-wrapper {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 4;
}

.subtitle-content {
  display: inline-block;
  white-space: nowrap;
  animation: none;
}

.subtitle {
  font-size: 4rem;
  color: white;
  z-index: 5;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  display: inline-block;
}

.subtitle-wrapper.animate .subtitle-content {
  animation: marquee var(--animation-duration) linear infinite;
}

.profile-image {
  width: auto;
  height: 120vh;
  margin-bottom: 0px;
  z-index: 2;
}

.badge {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif; /* Changed to Poppins */
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 6;
}

.changing-text {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 2rem;
  color: white;
  z-index: 5;
  font-family: 'Oswald', sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
}

.changing-text span {
  display: inline-block;
  margin-right: 0.1em; /* Consistent with JavaScript */
}


@keyframes hover {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.container2 {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20rem;
  }

  .profile-image {
    height: 100vh;
  }

  .subtitle {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 20rem;
  }

  .subtitle-wrapper {
    bottom: 2%;
  }

  .container {
    height: 94vh;
  }

  .profile-image {
    height: 80vh;
    margin-right: 10px;
  }

  .subtitle {
    font-size: 2rem;
  }

  .changing-text {
    top: 43px;
    left: 22px;
    font-size: 1.5rem;
  }

  .badge {
    top: 20px;
    left: 20px;
    font-size: 0.6rem;
  }
  
}
